<style>
    
    input[type="text"] { 
        text-align: center;
    }
    input[type="password"] { 
        text-align: center;
    }
</style>

<div class="container">
    <div class="border" style="color: blueviolet;">
        <h3>Login Page</h3>
        <hr>
        <form [formGroup]="loginForm" (ngSubmit)="loginCredentials()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Username" formControlName="username">
            </div>
            <div *ngIf="isSubmitted && formControls.username.errors">
                <div *ngIf="formControls.username.errors.required"
                style="color: red; text-align: left;">
                    username is required
                </div>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
            </div>
            <div *ngIf="isSubmitted && formControls.password.errors">
                <div *ngIf="formControls.password.errors.required"
                style="color: red; text-align: left;">
                    password is required
                </div>
            </div>
            <br>
            <div class="form-control">
                <button class="btn btn-primary btn-lg btn-block">Login</button>
            </div>
            <div *ngIf="error" style="color: red; text-align: left;">
                {{error}}
            </div>

        </form>
    </div>
</div>