<form
  name="empForm"
  #form="ngForm"
  autocomplete="off"
  (ngSubmit)="onSubmit(form)"
>
  <!--Employee id -->
  <div class="form-group">
    <input
      type="text"
      name="empId"
      [(ngModel)]="employeeService.formData.empId"
    />
  </div>

  <!--First name -->
  <div class="form-group">
    <label>First Name</label>
    <input
      name="firstName"
      #firstName="ngModel"
      [(ngModel)]="employeeService.formData.firstName"
      class="form-control"
      place
      holder="Enter First Name"
      minlength="5"
      maxlength="30"
      required
      [ngClass]="{ 'is-invalid': firstName.touched && firstName.invalid }"
    />
    <div
      class="validation-error"
      *ngIf="firstName.touched && firstName.invalid"
    >
      <div *ngIf="firstName.errors.required">First Name is Required</div>
    </div>
  </div>
  <!--Last Name -->
  <div class="form-group">
    <label>Last Name</label>
    <input
      name="lastName"
      #lastName="ngModel"
      [(ngModel)]="employeeService.formData.lastName"
      class="form-control"
      place
      holder="Enter lastName Name"
      minlength="5"
      maxlength="30"
      required
      [ngClass]="{ 'is-invalid': lastName.touched && lastName.invalid }"
    />
    <div class="validation-error" *ngIf="lastName.touched && lastName.invalid">
      <div *ngIf="lastName.errors.required">last Name is Required</div>
    </div>
  </div>
  <!--Age-->
  <div class="form-group">
    <label>Age</label>
    <input
      name="age"
      #age="ngModel"
      [(ngModel)]="employeeService.formData.age"
      class="form-control"
      place
      holder="Enter the age"
      maxlength="2"
      required
      [ngClass]="{ 'is-invalid': age.touched && age.invalid }"
    />
    <div class="validation-error" *ngIf="age.touched && age.invalid">
      <div *ngIf="age.errors.required">Age is Required</div>
    </div>
  </div>

  <!--Phone Number -->
  <div class="form-group">
    <label>Phone Number </label>
    <input
      name="phoneNumber"
      #phoneNumber="ngModel"
      [(ngModel)]="employeeService.formData.phoneNumber"
      class="form-control"
      place
      holder="Enter Mobile Number"
      minlength="10"
      [pattern]="mobNumberPattern"
      required
      [ngClass]="{ 'is-invalid': phoneNumber.touched && phoneNumber.invalid }"
    />
    <div
      class="validation-error"
      *ngIf="phoneNumber.touched && phoneNumber.invalid"
    >
      <div *ngIf="phoneNumber.errors.required">Mobile Number is required.</div>
      <div *ngIf="phoneNumber.errors.pattern">
        Please, Enter 10 digit Mobile Number.
      </div>
    </div>
  </div>

  <!--Address -->
  <div class="form-group">
    <label>Address </label>
    <input
      name="address"
      #address="ngModel"
      [(ngModel)]="employeeService.formData.address"
      class="form-control"
      place
      holder="Enter Address"
      maxlength="100"
      required
      [ngClass]="{ 'is-invalid': address.touched && address.invalid }"
    />
    <div class="validation-error" *ngIf="address.touched && address.invalid">
      <div *ngIf="address.errors.required">Address is required</div>
    </div>
  </div>

  <!--Gender -->
  <div class="form-group">
    <label>Gender </label>
    <select
      id="gender"
      name="gender"
      #gender="ngModel"
      [(ngModel)]="employeeService.formData.gender"
      class="form-control"
      place
      holder="Enter Gender"
      required
      [ngClass]="{ 'is-invalid': gender.touched && gender.invalid }"
    >
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Others">Others</option>
    </select>

    <div class="validation-error" *ngIf="gender.touched && gender.invalid">
      <div *ngIf="gender.errors.required">Gender is required</div>
    </div>
  </div>

  <!--login Id-->
  <div class="form-group">
    <label>Login Id</label>
    <input
      name="lId"
      #lId="ngModel"
      [(ngModel)]="employeeService.formData.lId"
      class="form-control"
      place
      holder="Enter the Login Id"
      maxlength="2"
      required
      [ngClass]="{ 'is-invalid': lId.touched && lId.invalid }"
    />
    <div class="validation-error" *ngIf="lId.touched && lId.invalid">
      <div *ngIf="lId.errors.required">Age is Required</div>
    </div>
  </div>

  <!--Submit-->
  <div class="form-group">
    <button
      type="submit"
      [disabled]="!(form.valid && form.dirty)"
      class="btn btn-lg btn-primary form-control"
    >
      SUBMIT
    </button>
  </div>
</form>
