<!--home-->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="../employeelist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-home fa-3x"></i></span>
                <br>
                Employee
            </a>
        </div>

        <div class="col-sm">
            <a href="../employeelist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-dashboard fa-3x"></i></span>
                <br>
                Report
            </a>
        </div>

        <div class="col-sm">
            <a href="../employeelist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-money fa-3x"></i></span>
                <br>
                News Update
            </a>
        </div>

    </div>
</div>
